singularity {
    enabled = true
    autoMounts = true
}

process {
    executor = 'slurm'
    queue = 'standard'
    
    // Default resources for all processes
    cpus = 12
    memory = '32 GB'
    time = '8h'
}

executor {
    name = 'slurm'
    queueSize = 50  // Maximum number of jobs to submit at once
    submitRateLimit = '10 sec'  // Rate limit for job submission
}